@model IEnumerable<mvcMobileStore.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red">SÁCH MỚI</h3>
<div class="row">
    @foreach (var sp in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "MobileStore", new {id = sp.MASP})">
                    <img alt="@sp.TENSP" src="~/Hinhsanpham/@sp.AnhSP" width="200" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sp.TENSP
                        </h4>
                        <p></p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </a>

            </div>
        </div>
    }

</div>
    

